@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300);
body {
    color: #333333;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: #ffffff;
    padding: 8px;
}

.text-content {
    color: #635d5d;
    width: 300px;
    line-height: 1.4rem;
    font-size: 1.2rem;
    text-align: justify;
}

.portrait {
    width: 250px;
}

.main-content {
    flex-grow: 1;
}

/* Weather widget */

.weather-widget {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #333333;
    margin: 15px 0;
    padding: 20px;
    height: 100%;
    width: 430px;
    display: flex;
    flex-direction: row;
}

.weather-header {
    display: flex;
    flex-direction: column;
}

#weather-location {
    margin: 20px auto;
    font-size: 1.6rem;
    font-weight: 700;
}

.wi {
    margin: auto;
    font-size: 5.7rem;
}

.current-temperature-status {
    margin: 50px auto 10px auto;
    display: flex;
    padding: 0;
    flex-direction: column;
}

#weather-temp {
    margin: auto;
    font-size: 1.8rem;
    font-weight: 800;
}

#weather-description {
}

.weather-time-date {
    margin-top: auto;
}

.weather-info {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 30px;
}

.hide {
    display:none;
}

.show {
    display: block;
}

